<div class="shadow rounded">
    <div class="p-2">
        <form autocomplete="off">
            <div class="mb-2 row">
                <div class="col-11 text-center  ui-widget p-1">
                    <input type="text"  id="tags" placeholder="Search Recipe" class="form-control" name="recipe" />
                </div>
                <div class="col-1 p-1">
                    <button type="submit" class="btn btn-sm btn-success">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        var availableTags = [
            "Chicken", "Kabab", "Cake", "Salad", "Fish", "Sush", "Donuts", "Tacos", "Pie", "Hamburge", "turkey",
            "Corn", "Cucumber", "Green Pepper", "Lettuce", "Mushrooms", "Peas", "Fries", "Zucchini", "Radish", "Sweet Potato",
            "Blackberry", "Blackcurrant", "Blueberry", "Boysenberry", "Cherry", "Coconut", "Papaya", " Passion Fruit",
            "Peach", "Pear", "Pineapple", "Plum", "Onion", "Brussel Sprouts", "Cinnamon", "Chocolate", "turkey"
        ];
        $("#tags").autocomplete({
            source: availableTags,
            minLength: 2
        });
    });
</script>