@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row shadow rounded">
        <div class="col-sm-12 col-md-6 col-kog-6 col-xl-6" >
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item active">
                        <img src="/images/carouselImages/Images/pexels-ollivves-1025804.jpg"
                             class="d-block w-100" style="height: 385px;" alt="Recipes">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/images/carouselImages/Images/pexels-saveurssecretes-5560763.jpg"
                             class="d-block w-100" style="height: 385px;" alt="Recipes">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/images/carouselImages/Images/saahil-khatkhate-kfDsMDyX1K0-unsplash.jpg"
                             class="d-block w-100" style="height: 385px;" alt="Recipes">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <h2>
                    Get The Best <span class="text-success fst-italic">Food</span> From
                    <span class="text-success">The Best Restaurant</span>
                </h2>
            </div>
            <div class="mb-3 p-3 bg-light rounded">
                <span><i class="fas fa-seedling text-success me-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Fresh Food</span>
            </div>
            <div class="mb-3 p-3 bg-light rounded">
                <span><i class="fas fa-wheat-awn text-success me-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Healthy Meal</span>
            </div>
            <div class="mb-3 p-3 bg-light rounded">
                <span><i class="fas fa-person-biking text-success me-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Fast Delivery</span>
                <p class="py-2">We Promise Delivery Within 30 Minutes</p>
            </div>
        </div>


    </div>


    <div class="row mt-3">
        <div class="col-12 mb-3">
            <h2 class="text-dark fst-italic">Today's Special</h2>
            <div id="todaysSpecial" class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    
                   <div class="card dishCard">
                       <img class="card-img-top h-75" 
                          src="images/carouselImages/Images/Pizza.jpg" />
                             <div class="card-body">
                                <p class="card-title fw-bold">Pizza</p>
                             </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                   <div class="shadow rounded card dishCard">
                      <img class="card-img-top h-75"
                             src="/images/carouselImages/Images/cake.jpg" />
                           <div class="card-body">
                        <p class="card-title fw-bold">Cake</p>
                            </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">

                    <div class="shadow rounded card dishCard">
                      <img class="card-img-top h-75"
                             src="/images/carouselImages/Images/pasta.jpg" />
                        <div class="card-body">
                         <p class="card-title fw-bold">Pasta</p>
                         </div>
                    <div/>
                </div>

            </div>
           
        </div>
    </div>

</div>
